﻿<asp:DataList runat="server"></asp:DataList><%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Home.aspx.cs" Inherits="LoginApp.WebSite.Home" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <h1 style="text-align: center">Your Number 1 Online Tutor</h1>
            <asp:Button ID="buttonLogout" runat="server" Text="Logout" OnClick="buttonLogout_Click" />
        </div>
       <%-- <asp:HyperLink ID="HyperLink1" runat="server" NavigateUrl="~/WebForm1.aspx">Logout</asp:HyperLink>--%>
    </form>
</body>
</html>
